@charset "utf-8";

// CSS variables
$base-font-family: Avenir, HelveticaNeue-Light, Helvetica, arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     25px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$white-color: 		#FFFFFF;

$on-palm:     400px;
$on-laptop:   700px;



/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: none;

    }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


.wrapper {
    max-width: -webkit-calc(1600px - (#{$spacing-unit} * 2));
    max-width:         calc(1600px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;
   }

html {
background-color: #2C3E50;
}

.page-content {
    padding: 3*($spacing-unit) 0;
}

.background {

	padding: 0;
    margin: 0;
    height: cover;
    width: auto;
    vertical-align: middle; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}

#logo {
    width: 100%;
    height: auto;
    margin-right: 80%;
    max-width: 100%;
    border: 1px solid white;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
}

.home {
    font-family: $base-font-family;
    font-weight: 200;
    font-color:#6C7A89;
    width:auto;
    vertical-align: middle;
    font-size:100%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.80);
    background-size:cover;
    margin: 8%;
    margin-bottom: 20%;
    padding: 2%;
    text-align: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#title {
    margin: 0;
    font-family: $base-font-family;
    color:22313F;
    font-weight: 200;
    vertical-align: middle;
    text-align: left;
    font-size: 175%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#intro-wrapper {
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    margin-bottom: 3%;
}

#intro-text {
    margin-bottom: 3%;
}

.data-table{
    overflow-x: scroll;
    align: left;
    padding: 1%;
    border: 2px solid $grey-color-dark; 
}


table {    
    border-spacing: 35px 10px;
}

tr {
    white-space: nowrap;
    font-family: HelveticaNeue-Light;
    font-weight: 100;
    font-size: 100%;
    border-top: 1px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-dark;
    border: collapse;
}



